html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    display: none;
}

.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    backdrop-filter: blur(6px);
    border-bottom: solid 1px rgb(200, 200, 200);

    /**
 * La dernière valeur (0.2) est le canal alpha (opacité)
 * Elle définit le niveau de transparence de la couleur de fond blanc
 * 0 = complètement transparent
 * 1 = complètement opaque
 * 0.2 = 20% d'opacité (80% de transparence)
 */
    background: rgba(255, 255, 255, 0.1);
    transition: background 0.3s ease, backdrop-filter 0.3s ease;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

#nav-sentinel {
    position: absolute;
    top: 100vh;
    /* après le hero */
    height: 1px;
    width: 100%;
}

.navbar.solid {
    background: #ffffff;
    backdrop-filter: blur(0);
}

.navbar.scrolled {
    padding: 12px 40px;
    background: rgb(255, 255, 255);
}

.navbar-nav .nav-link {
    color: rgb(0, 0, 0) !important;
    font-family: Arial, Narrow, sans-serif;
    font-weight: bold;
    font-size: large;
    padding: 8px 16px;
    border: 2px solid transparent;
    border-radius: 50px;
    transition: all 0.5s ease;
}

.navbar-nav .nav-link:hover {
    color: rgb(150, 150, 150) !important;
    cursor: pointer;
}


.navbar-nav .nav-link.active {
    background-color: transparent !important;
    color: rgb(100, 100, 100) !important;
    font-family: Arial, Narrow, sans-serif;
    font-weight: bold;
    font-size: large;
    padding: 8px 16px;
    transition: all 0.5s ease;
    text-decoration: underline;
}

.navbar-nav .nav-link.active:hover {
    color: rgb(97, 97, 97) !important;
}

.contenu {
    padding-left: 100px;
    padding-right: 100px;
    color: rgb(0, 0, 0);
    font-family: Arial, Narrow, sans-serif;
    font-weight: bold;
    font-size: large;
    /*font-size:3vh;*/
    text-align: justify;
}

.sous_titre {
    margin-left: 45px;
    color: rgb(0, 0, 0);
    font-family: Arial, Narrow, sans-serif;
    font-weight: bold;
    font-size: larger;
}

.titre {
    margin-left: 30px;
    color: rgb(0, 0, 0);
    font-family: Arial, Narrow, sans-serif;
    font-weight: bold;
    margin-top: 0.5em;
}

.portrait {
    margin-right: 20px;
}

body {
    background-color: rgb(200, 200, 200);
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    width: 100%;
    overflow-x: hidden;
    padding: 0;
}

a {
    color: rgb(0, 0, 0);
}

#horloge {
    text-align: center;
    font-family: Arial, Narrow, sans-serif;
    font-weight: 300;
    font-size: medium;
    margin-right: 25px;
}

.copyright {
    color: rgb(0, 0, 0);
    font-family: Arial, Narrow, sans-serif;
    font-weight: 300;
    font-size: medium;
    margin-left: 25px;
}

footer {
    padding-bottom: 0;
    margin-top: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(225, 225, 225);
    color: rgb(0, 0, 0);
    font-family: Arial, sans-serif;
    position: static;
    bottom: 0;
    width: 100%;
    text-align: center;
    z-index: 100;
}

.projet {
    text-align: center;
    color: white;
    font-family: Arial, Narrow, sans-serif;
    font-weight: 300;
    font-size: medium;
    margin-left: 0;
}

.lien {
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: Arial, Narrow, sans-serif;
    font-weight: 300;
    font-size: 8px;
    margin-left: 0;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

table {
    border-collapse: collapse !important;
    border: 2px solid rgb(0, 0, 0) !important;
    font-family: sans-serif;
    font-size: 0.8rem;
    margin: 16px auto;
}

th,
td {
    border: 1px solid rgb(0, 0, 0) !important;
    padding: 8px 12px;
    text-align: left;
    color: rgb(0, 0, 0)
}

caption {
    caption-side: top;
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 8px;
}

#index {
    border-top: 0;
    color: black;
    background-image: url("../images/background5.png");
    background-position: center center;
    background-size: cover;
}

#parcours {
    background-color: rgb(210, 210, 210);
}

#passions {
    background-color: rgb(230, 230, 230);
}

#projets {
    background-color: rgb(220, 220, 220);
}

.scolaire {
    border-right: solid 2px rgb(0, 0, 0);
}

.contact {
    font-size: 15px;
    text-decoration: none;
}

.contact_container {
    border-left: solid 1px rgb(0, 0, 0);
    border-right: solid 1px rgb(0, 0, 0);
}

.parcours_container {
    margin-top: 30vh;
    margin-bottom: 30vh;
}

section {
    scroll-margin-top: 80px;
    /* hauteur de ta navbar */
}

.carousel-indicator-active-bg {
    background-color: rgb(0, 0, 0);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-image: none;
}

.carousel-control-prev-icon::after,
.carousel-control-next-icon::after {
    font-size: 40px;
    color: rgb(0, 0, 0);
}

.carousel-control-prev-icon::after {
    content: '<';
}

.carousel-control-next-icon::after {
    content: '>';
}

.carousel-indicators button {
    background-color: rgb(25, 25, 25) !important;
}

.carousel-indicators .active {
    background-color: rgb(0, 0, 0) !important;
}

.carousel-item img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.carousel {
    padding-top: 20px;
    padding-bottom: 50px;
}

.carousel-indicators {
    bottom: -30px;
}