html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

.navbar{
    background-color: rgb(0, 1, 10) !important;
    box-shadow: 0 -5px 20px rgb(0, 1, 10), 0 0 10px rgb(106, 0, 255);
    width: 100%;
}

.texte {
    color: white !important;
    font-family: Arial, Narrow, sans-serif;
    font-weight: bold;
    font-size: large;
    padding: 8px 16px;
    border: 2px solid transparent;
    border-radius: 50px;
    transition: all 0.5s ease;
}

.texte:hover {
    color: rgb(150, 150, 150) !important;
    border-color: rgb(107, 0, 109);
    box-shadow: 0 -5px 20px rgb(40, 0, 96), 0 0 10px rgb(106, 0, 255);
    cursor: pointer;
}


.texte_act{
    background-color: rgb(27, 0, 59) !important;
    color:rgb(150, 150, 150);
    border-radius: 50px;
    font-family: Arial, Narrow, sans-serif;
    font-weight: bold;
    font-size:large;
    padding: 8px 16px;
    transition:all 0.5s ease;
}

.texte_act:hover{
    background-color: rgb(15, 0, 40) !important;
    box-shadow: 0 -5px 20px rgb(40, 0, 96), 0 0 10px rgb(106, 0, 255);
    color: rgb(50, 50, 50);
}

.contenu{
    padding-left: 100px;
    padding-right: 100px;
    color: white;
    font-family: Arial, Narrow, sans-serif;
    font-weight: bold;
    font-size:large;
}

.sous_titre{
    margin-left:45px;
    color: white;
    font-family: Arial, Narrow, sans-serif;
    font-weight: bold;
    font-size: larger;
}

.titre{
    margin-left:30px;
    color: white;
    font-family: Arial, Narrow, sans-serif;
    font-weight: bold;
    margin-top: 10px;
}

.portrait{
    margin-right: 20px;
}

body{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0; 
    width: 100%;
    overflow-x: hidden;
    padding: 0;
}

a{
    color: white;
}

#horloge{
    text-align: center;
    font-family: Arial, Narrow, sans-serif;
    font-weight: 300;
    font-size: medium;
}

.copyright{
    color: white;
    font-family: Arial, Narrow, sans-serif;
    font-weight:300;
    font-size:medium;
}

footer {
    margin-top:auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(0, 1, 10);
    color: white;
    font-family: Arial, sans-serif;
    position: fixed;
    bottom: 0;
    left: 0;
    box-shadow: 0 -5px 20px rgb(0, 1, 10), 0 0 10px rgb(106, 0, 255);
    text-align: center;
    z-index: 100;
}

.projet{
    text-align: center;
    color: white;
    font-family: Arial, Narrow, sans-serif;
    font-weight:300;
    font-size:medium;
    margin-left: 0;
}

.lien{
    text-align: center;
    color: white;
    font-family: Arial, Narrow, sans-serif;
    font-weight:300;
    font-size: 8px;
    margin-left: 0;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}